<%provide(:title, 'Home',)%>
<h1>This is Emily Potter's home page</h1>
<h3>Hello I'm Emily Potter. I hope you like my photos</h3>
<p>Sara did a lot of hard work tonight and she's going to have a well deserved break :-) </p>
<%=image_tag("Moon.jpg")%>
