.headSec{
    background: url('sunset2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    min-height: 25%;
    overflow: auto;
}

.headSec h1{
   
    font-size: 40px;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 15%;
    padding: 10px;
    color: #ffffff;
}

.homeIm{
    width: 70%;
    height: 46%;

}

.homeImg{width: 100%;
    
}

ul{
    list-style: none;
    margin-top: 100px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   
   
    }
     li {float: left;}
     li a{
     display: inline-block;
     color: #ffffff;
     font-size: 20px;
     text-align: left;
     margin-left: 10px;
     padding-right: 20px;
     text-decoration: none;
     }

#itemsContainer h2 {
   display: block;
    color: #555;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
    
}


.itemhols p {
   display: block;
    color: #4CAF50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px
    
}



.itemholsIm {
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


.foot{

    min-height: 10px;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 10px;
    overflow: auto;
}
.foot h6{
    color: #333;
    font-size: 10px;
    padding: 20px;
    text-align: center;
	margin-top: 20px;
    
}
.itemholsIm {
    width: 20%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}
.itemholsIm {
    width: 20%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}
